
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href ="../static/cong.css" rel="stylesheet" >
    <!-- <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet"> -->
</head>
<body>
    <div class="cong">
        <form>
            <div class="crd">
            <div class="crd1">
            <h2 style ="color:whitesmoke">Congratulations you Logged in successfully!!!</h2>
            <a href ="../views/second.html" style="text-decoration: none;">Go to Next page</a>
            </div>
            </div>
            <br><br>
        </form>
    </div>
</body>
</html>