<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content</title>
    <link rel="stylesheet" href="../static/SecondStyle.css">
</head>
<body>
    <section class="full">
        
        <section class="inner">
            <h1>Punjab Technical University</h1>
            <h2>First year</h2>
            <div class="blocks">
                <div class="sem">
                    <li> <a href="#">Semester-1</a></li>
                    <li> <a href="#">Semester-2</a></li>
                </div>
            </div>
            <h2>Second year</h2>
            <div class="blocks">
                <div class="sem">
                    <li> <a href="#">Semester-3</a></li>
                    <li> <a href="#">Semester-4</a></li>
                </div>
            </div>
            <h2>Third year</h2>
            <div class="blocks">
                <div class="sem">
                    <li> <a href="#">Semester-5</a></li>
                    <li> <a href="#">Semester-6</a></li>
                </div>
            </div>
            <h2>Fourth year</h2>
            <div class="blocks">
                <div class="sem">
                    <li> <a href="#">Semester-7</a></li>
                    <li> <a href="#">Semester-8</a></li>
                </div>
            </div>
        </section>
        <div class="r-b">
            <h1>Recommended</h1> 
            <div class="right">
                <li><a href="https://www.wdl.org/" target="_blank">World Digital  Library</a></li><br>
                <li><a href="https://www.nature.com/wls" target="_blank">World Library of Science</a></li><br>
                <li><a href="https://www.nationallibrary.gov.in/" target="_blank">National Library of India</a></li><br>
                <li><a href="https://www.cgc.ac.in/e-library-journals" target="_blank">CGC Jhanjeri E-library & Journals</a></li><br>
                <li><a href="https://en.wikipedia.org/wiki/List_of_libraries_in_India" target="_blank">List of libraries of India</a></li><br>
                <li><a href="https://timesofindia.indiatimes.com/" target="_blank">Times Of India (TOI)</a></li><br>
                <li><a href="https://www.thehindu.com/" target="_blank">The Hindu</a></li><br>
                <li><a href="https://nta.ac.in/" target="_blank">National Testing Agency (NTA)</a></li><br>
                <li><a href="https://www.cbse.gov.in/" target="_blank">Central Borad of Secondary Education (CBSE)</a></li><br>
                <li><a href="https://ptu.ac.in/" target="_blank">Punjab Technical University (PTU)</a></li><br>
                <li><a href="https://brainly.in/" target="_blank">Brainly</a></li><br>
                <li><a href="http://physicswallahalakhpandey.com/" target="_blank">PhysicsWallah</a></li><br>
                <button class="M-btn"><a href="https://google.com" target="_blank">more</a></button>
            </div>  
        </div>
    </section>
    <button class="B-btn"><li><a href="../views/index.html">Back to home</a></li></button>
    
</body>
</html>